<ion-view view-title="Contact Details" style="background-color: #ECF0F1">

  <ion-nav-buttons side="secondary">
      <a class="button button-clear" ng-click="logout()">Logout</a>
  </ion-nav-buttons>
<!-- {{details}} -->
    <ion-content padding="20">
      <div class="card">
          <div id="myMap" my-map=""></div>
      </div>
      <button class="button button-block button-outline button-calm" ng-click="setMyPosition()">
        Set my position
      </button>
    </ion-content>
</ion-view>
