<ion-view view-title="À propos">
  <ion-nav-buttons side="secondary">
      <a class="button button-clear" ng-click="logout()">Logout</a>
  </ion-nav-buttons>
  
  <ion-content class="padding">
  <h2 style="color:#f39c12; text-align:center">Technologies<h2>
  <div class="row">
   <div class="col">
     <img src="img/mongo.jpeg"  height="90" width="90" class="center">
      <h4  class="center-text">MongoDB</h4>
   </div>
   <div class="col">
     <img src="img/express.png"  height="90" width="90" class="center">
      <h4  class="center-text">ExpresseJS</h4>
   </div>
 </div>
 <div class="row">
  <div class="col">
    <img src="img/angular.png"  height="85" width="85" class="center">
     <h4  class="center-text">AngularJS</h4>
  </div>
  <div class="col">
    <img src="img/node.jpg"  height="90" width="90" class="center">
     <h4  class="center-text">NodeJs</h4>
  </div>
</div>
<div class="row">
 <div class="col">
   <img src="img/ionic.png"  height="80" width="80" class="center">
    <h4  class="center-text">Ionic</h4>
 </div>
 <div class="col">
   <img src="img/cordova.png"  height="90" width="90" class="center">
    <h4  class="center-text">Cordova</h4>
 </div>
</div>

<h2 style="color:#f39c12; text-align:center">Outils de deploiement<h2>

<div class="row">
<div class="col">
 <img src="img/view.png"  height="80" width="80" class="center">
  <h4  class="center-text">IonicView</h4>
</div>
<div class="col">
 <img src="img/heroku.jpg"  height="90" width="90" class="center">
  <h4  class="center-text">Heroku</h4>
</div>
</div>

<div class="row">
<div class="col">
 <img src="img/lb.png"  height="90" width="90" class="center">
  <h4  class="center-text">MongoLab</h4>
</div>
</div>

  </ion-content>
</ion-view>
