<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- View Contacts Tab -->
  <ion-tab title="Connectés" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/favoris">
    <!-- Set up a view with a name so that we can inject the tab.home state here -->
    <ion-nav-view name="tab-favoris"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mes Amis" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/mesAmis">
    <!-- Set up a view with a name so that we can inject the tab.home state here -->
    <ion-nav-view name="tab-mesAmis"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Mon profil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profil">
     <ion-nav-view name="tab-profil"></ion-nav-view>
   </ion-tab>

    <!-- About me Tab -->
   <ion-tab title="À propos" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/apropos">
     <ion-nav-view name="tab-apropos"></ion-nav-view>
   </ion-tab>

</ion-tabs>
